@model Components.ItemGallery.ItemGalleryViewComponent.ItemModel

@using Microsoft.AspNetCore.Identity

@inject FavoritesManager FavoritesManager
@inject UserManager<User> UserManager

@functions {
    private string DisplayGrade(string grade)
    {
        if (string.IsNullOrEmpty(grade))
            return "Nieznana klasa";

        if (grade == "Zależnie od poziomu")
            return grade;

        return $"Klasa {grade}";
    }

    private int? _userId;
    private int UserId {get => _userId ??= UserManager.GetUserId(User).IntOrDefault(); }
}

<article class="book-tile">
    <img src="@Model.Item.Photo" alt="Zdjęcie książki: @Model.Item.Book.Title" />
    <footer>
        <div class="info">
            <a asp-page="/Book" asp-route-id="@Model.Item.Id">
                <h2>@Model.Item.Book.Title</h2>
            </a>

            <p>@Model.Item.Price zł</p>
            <p>
                <small>
                    @(string.IsNullOrWhiteSpace(Model.Item.User.School) ? "Nieznana szkoła" : Model.Item.User.School)
                </small>
            </p>
        </div>
        <div class="actions">
            <button class='@(Model.Item.Book.Subject.Id == Model.Params.Subject?.Id ? "" : "outline") subject'>
                @(string.IsNullOrWhiteSpace(Model.Item.Book.Subject.Name) ? "Nieznany przedmiot" : Model.Item.Book.Subject.Name)
            </button>
            @if (Model.Item.Book.Grades != null)
            {
                @foreach (var grade in Model.Item.Book.Grades)
                {
                    <button class='@(grade.Id == Model.Params.Grade?.Id ? "" : "outline") grade'>
                        @DisplayGrade(grade.GradeNumber)
                    </button>
                }
            }
            @if (Model.Item.Book.Level != null)
            {
                <button class='@(Model.Item.Book.Level == Model.Params.Level ? "" : "outline") level'>
                    @Model.Item.Book.Level.Name
                </button>
            }
        </div>
        <div class="fav">
            @if (UserId == Model.Item.User.Id)
            {
                <a class="outline" role="button"
                   aria-label="Edytuj ogłoszenie"
                   title="Edytuj ogłoszenie"
                   href="/Edit/@Model.Item.Id">
                    <svg icon="pencil" variant="outline" aria-hidden="true"></svg>
                </a>
            }
            else
            {
                @await Html.PartialAsync("_FavoriteButton", new Profile.FavoritesModel.ButtonState
                (
                    Model.Item.Id,
                    await FavoritesManager.IsFavoriteAsync(UserId, Model.Item.Id),
                    false
                ))
            }
        </div>
    </footer>
</article>