@page
@model RegisterModel
@{
    ViewData["Title"] = "Rejestracja";
}

<h1>@ViewData["Title"]</h1>

<section class="login-form">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h2>Stwórz nowe konto:</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div>
            <label asp-for="Input.UserName">Nazwa użytkownika:</label>
            <input asp-for="Input.UserName" autocomplete="username" required placeholder="Nazwa użytkownika" />
            <small><span asp-validation-for="Input.UserName"></span></small>
        </div>
        <div>
            <label asp-for="Input.Email">E-mail:</label>
            <input asp-for="Input.Email" autocomplete="email" required placeholder="E-mail" />
            <small><span asp-validation-for="Input.Email"></span></small>
        </div>
        <div>
            <label asp-for="Input.Password">Hasło:</label>
            <input asp-for="Input.Password" autocomplete="new-password" required placeholder="Hasło" />
            <small><span asp-validation-for="Input.Password"></span></small>
        </div>
        <div>
            <label asp-for="Input.ConfirmPassword">Potwierdź hasło:</label>
            <input asp-for="Input.ConfirmPassword" autocomplete="new-password" required placeholder="Hasło" />
            <small><span asp-validation-for="Input.ConfirmPassword"></span></small>
        </div>
        <button id="registerSubmit" type="submit">Zarejestruj</button>
    </form>
</section>

@* <section>
    <h3>Inne sposoby rejestracji:</h3>
    <hr />
    @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
            <div>
                <p>
                    Na razie nie ma, zostawiam <a href="https://go.microsoft.com/fwlink/?LinkID=532715">link</a> do strony z set-up'em.
                </p>
            </div>
        }
        else
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Zaloguj się za pomocą konta @provider.DisplayName">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        }
    }
</section> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
