@model Profile.IndexModel.UserModel
@using Profile

<section class="profile-heading">
    <img src="@Model.RequestUser.Photo"
         alt="Profil sprzedającego" />
    <hgroup>
        <h1>@Model.RequestUser.UserName</h1>
        <p> @{ /* TODO: Add user profile description */ } </p>
    </hgroup>
    @if (Model.IsCurrentUser)
    {
        <a role="button" class="outline" href="/Identity/Account/Manage">Ustawienia konta</a>
    }
</section>

<h2>Kontakt</h2>
<section>
    @if (User.Identity?.IsAuthenticated != true)
    {
        @("Zaloguj się, aby zobaczyć dane kontaktowe użytkownika.")
    }
    else
    {
        <partial name="_ContactDetails" for="RequestUser" />
    }
</section>

<nav>
    <ul>
        @if (Model.IsCurrentUser)
        {
            <li><a aria-current="@ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Ogłoszenia</a></li>
            <li><a aria-current="@ManageNavPages.FavoritesNavClass(ViewContext)" id="favorites" asp-page="./Favorites">Ulubione</a></li>
        }
        else
        {
            <li><a aria-current="@ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index" asp-route-id="@Model.RequestUser.Id">Ogłoszenia</a></li>
            <li><a aria-current="@ManageNavPages.FavoritesNavClass(ViewContext)" id="favorites" asp-page="./Favorites" asp-route-id="@Model.RequestUser.Id">Ulubione</a></li>
        }
    </ul>
</nav>
