@model Booker.Data.Item

@functions {
    private string DisplayLevel(bool? level)
    {
        if (level == null)
            return "Nieznany poziom";
        return level.Value ? "Rozszerzenie" : "Podstawa";
    }

    private string DisplayGrade(string grade)
    {
        if (string.IsNullOrEmpty(grade))
            return "Nieznana klasa";

        if (grade == "Zależnie od poziomu")
            return grade;

        return $"Klasa {grade}";
    }
}

<article class="book-tile">
    <img src="@Model.Photo" alt="Zdjęcie książki: @Model.Book.Title" />
    <footer>
        <a asp-page="/Book" asp-route-id="@Model.Id">
            <h3>@Model.Book.Title</h3>
        </a>
        <div class="flow-root">
            <p>@Model.Price zł</p>
            <p>
                <small>
                    @(string.IsNullOrWhiteSpace(Model.User?.School) ? "Nieznana szkoła" : Model.User.School)
                </small>
            </p>
            <button class="outline">
                @(string.IsNullOrWhiteSpace(Model.Book?.Subject?.Name) ? "Nieznany przedmiot" : Model.Book.Subject?.Name)
            </button>
            @if (Model.Book.Grades != null)
            {
                @foreach (var grade in Model.Book.Grades)
                {
                    <button class="outline">@DisplayGrade(grade.GradeNumber)</button>
                }
            }
            
            @if (Model.Book.Level != null)
            {
                <button class="outline">@DisplayLevel(Model.Book.Level)</button>
            }
            <button class="outline fav" aria-label="Dodaj do ulubionych" title="Dodaj do ulubionych">
                <svg>
                    <use href="img/icons.svg#si-awesome-star-o" />
                </svg>
            </button>
        </div>
    </footer>
</article>
