@model Booker.Pages.IndexModel.ItemModel

@functions {
    private string DisplayLevel(bool? level)
    {
        if (level == null)
            return "Nieznany poziom";
        return level.Value ? "Rozszerzenie" : "Podstawa";
    }

    private string DisplayGrade(string grade)
    {
        if (string.IsNullOrEmpty(grade))
            return "Nieznana klasa";

        if (grade == "Zależnie od poziomu")
            return grade;

        return $"Klasa {grade}";
    }
}

<article class="book-tile">
    <img src="@Model.Item.Photo" alt="Zdjęcie książki: @Model.Item.Book.Title" />
    <footer>
        <div class="info">
            <a asp-page="/Book" asp-route-id="@Model.Item.Id">
                <h2>@Model.Item.Book.Title</h2>
            </a>
        
            <p>@Model.Item.Price zł</p>
            <p>
                <small>
                    @(string.IsNullOrWhiteSpace(Model.Item.User?.School) ? "Nieznana szkoła" : Model.Item.User.School)
                </small>
            </p>
        </div>
        <div class="actions">
            <button class='@(Model.Item.Book.Subject.Id == Model.Params.Subject?.Id ? "" : "outline") subject'>
                @(string.IsNullOrWhiteSpace(Model.Item.Book?.Subject?.Name) ? "Nieznany przedmiot" : Model.Item.Book.Subject?.Name)
            </button>
            @if (Model.Item.Book.Grades != null)
            {
                @foreach (var grade in Model.Item.Book.Grades)
                {
                    <button class='@(grade.Id == Model.Params.Grade?.Id ? "" : "outline") grade'>
                        @DisplayGrade(grade.GradeNumber)
                    </button>
                }
            }

            @if (Model.Item.Book.Level != null)
            {
                <button class='@(Model.Item.Book.Level == Model.Params.Level ? "" : "outline") level'>
                    @DisplayLevel(Model.Item.Book.Level)
                </button>
            }
        </div>
        <div class="fav">
            <button class="outline" aria-label="Dodaj do ulubionych" title="Dodaj do ulubionych">
                <svg>
                    <use href="img/icons.svg#si-awesome-star-o" />
                </svg>
            </button>
        </div>
    </footer>
</article>
