@page "{id:int}"
@model Booker.Pages.BookModel

@{
    ViewData["Title"] = @Model.BookItem?.Book?.Title + " - Booker" ?? "Szczegóły książki";
}

<article class="book-display">
    <section class="image">
        <img src="@Model.BookItem?.Photo" alt="Zdjęcie książki: @Model.BookItem?.Book?.Title" />
    </section>

    <section class="data">
        <h2>@(Model.BookItem?.Book?.Title ?? "Nieznany tytuł")</h2>
        <p>
            <small>
                Dodane: @(Booker.Pages.BookModel.FormatDateWithSpecialCases(Model.BookItem?.DateTime))
            </small>
        </p>
        <p><strong>@(Model.BookItem?.Price.ToString("C") ?? "Brak ceny")</strong></p>

        <ul>
            <li>
                Klasa: @String.Join(", ", 
                Model.BookItem?.Book?.Grades?.Select( g => g.GradeNumber ).ToList() ?? new() {"nieznana"})
            </li>
            <li>Przedmiot: @(Model.BookItem?.Book?.Subject?.Name ?? "Nieznany przedmiot")</li>
            <li>
                Zakres:
                @(Model.BookItem?.Book?.Level == null
                    ? "Nieznany zakres"
                    : (Model.BookItem.Book.Level == true ? "rozszerzony" : "podstawowy"))
            </li>
            <li>Stan: @(Model.BookItem?.State ?? "Nieznany stan")</li>
        </ul>
    </section>

    <section class="actions">
        <button>Dodaj do ulubionych</button>
        <button hx-get="?handler=Email" hx-swap="outerHTML">Zapytaj o przedmiot</button>
    </section>

    <section class="description">
        <h3>Opis</h3>
        <p>
            @(Model.BookItem?.Description ?? "Brak opisu")
        </p>
    </section>

    <section class="seller">
        <h3>Sprzedaje</h3>
        <div>
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                 alt="Profil sprzedającego" />
            <div>
                @(Model.BookItem?.User?.UserName ?? "Nieznany użytkownik")<br />
                @(Model.BookItem?.User?.School ?? "Nieznana szkoła")<br />
                <a href="#" role="button" class="outline">Więcej od tego użytkownika</a>
            </div>
        </div>
    </section>
</article>
