@page "{id:int}"
@model Booker.Pages.BookModel

@{
    ViewData["Title"] = @Model.BookItem.Book.Title + " - TextBooker" ?? "Szczegóły książki";
}

<article class="book-display">
    <section class="image">
        <img src="@Model.BookItem.Photo" alt="Zdjęcie książki: @Model.BookItem.Book.Title" />
    </section>

    <section class="data">
        <h2>@Model.BookItem.Book.Title</h2>
        <p>
            <small>
                Dodane: @(Booker.Pages.BookModel.FormatDateWithSpecialCases(Model.BookItem.DateTime))
            </small>
        </p>
        <p><strong>@Model.BookItem.Price.ToString("C")</strong></p>

        <ul>
            <li>
                Klasa: @String.Join(", ",
                Model.BookItem.Book.Grades.Select(g => g.GradeNumber).ToList() ?? new() { "nieznana" })
            </li>
            <li>Przedmiot: @Model.BookItem.Book.Subject.Name</li>
            <li>
                Zakres:
                @(Model.BookItem.Book.Level == null
                    ? "Nieznany zakres"
                    : (Model.BookItem.Book.Level == true ? "rozszerzony" : "podstawowy"))
            </li>
            <li>Stan: @(Model.BookItem.State ?? "Nieznany stan")</li>
        </ul>
    </section>

    <section class="actions">
        @if (Model.IsCurrentUserOwner)
        {
            <a asp-page="/Edit" asp-route-id="@Model.BookItem.Id" role="button">Edytuj ogłoszenie</a>
        }
        else
        {
            @await Html.PartialAsync("_FavoriteButton", new Profile.FavoritesModel.ButtonState
            (
                Model.BookItem.Id,
                Model.IsFavorite,
                true
            ))
            <button hx-get="?handler=Email" hx-swap="outerHTML">Zapytaj o przedmiot</button>
        }
    </section>

    <section class="description">
        <h3>Opis</h3>
        <p>
            @Model.BookItem.Description
        </p>
    </section>

    <section class="seller">
        <h3>Sprzedaje</h3>
        <div>
            <img src="@Model.BookItem.User.Photo"
                 alt="Profil sprzedającego" />
            <div>
                @Model.BookItem.User.UserName<br />
                @Model.BookItem.User.School<br />
                <a href="/Profile/@Model.BookItem.UserId" role="button" class="outline">Więcej od tego użytkownika</a>
            </div>
        </div>
    </section>
</article>