@page
@model IndexModel
@{
    ViewData["Title"] = "Booker";
}

<section class="filter">
    <form hx-get="/" hx-trigger="submit, input changed delay:500ms, change" hx-target=".grid-gallery" hx-push-url="true"
          hx-include="[name='search'], [name='grade'], [name='subject'], [name='minPrice'], [name='maxPrice'], [name='level']"
          hx-vals='{"pageNumber": 0}'>
        <input type="search" name="search" placeholder="Wyszukaj..." value="@Model.Params?.Search"/>

        <details id="filterDetails">
            <summary id="filterSummary">
                <svg>
                    <use href="img/icons.svg#si-awesome-sliders" />
                </svg>
                Filtry
            </summary>

            <div class="grid">
                <select name="grade">
                    <option value="">Wszystkie klasy</option>
                    @{
                        if (Model.Grades != null)
                        {
                            foreach (var grade in Model.Grades)
                            {
                                <option value="@grade.GradeNumber" selected="@(Model.MinParams?.Grade?.Id == grade.Id)">Klasa @grade.GradeNumber.</option>
                            }
                        }
                    }
                </select>

                <select name="subject">
                    <option value="">Wszystkie przedmioty</option>
                    @{
                        if (Model.Subjects != null)
                        {
                            foreach (var subject in Model.Subjects)
                            {
                                <option value="@subject.Name" selected="@(Model.MinParams?.Subject?.Id == subject.Id)">@subject.Name</option>
                            }
                        }
                    }
                </select>

                <select name="level">
                    <option value="">Wszystkie poziomy</option>
                    <option value="Podstawa" selected='@(!Model.MinParams?.Level)'>Podstawa</option>
                    <option value="Rozszerzenie" selected='@(Model.MinParams?.Level)'>Rozszerzenie</option>
                </select>

                <input type="number" name="minPrice" placeholder="Cena min." value="@Model.Params?.MinPrice"/>
                <input type="number" name="maxPrice" placeholder="Cena max." value="@Model.Params?.MaxPrice" />
                <button type="button" id="mobileFilterSubmit">Zatwierdź filtry</button>
            </div>
        </details>
    </form>
</section>

<section class="grid-gallery">
    @await Html.PartialAsync("_ItemGallery", Model.ItemsList)
</section>

<section>
    <div aria-busy="true" class="htmx-indicator" id="ind"></div>
</section>

<script>
    function setFilter(name, value, enable) {
        const elem = document.querySelector(`[name="${name}"]`);
        if (elem) {
            elem.value = enable ? value : "";
            elem.form.requestSubmit();
        }
        
    }

    htmx.onLoad(function(content) {
        content.querySelectorAll('button.subject, button.grade, button.level').forEach(button => {
            button.addEventListener('click', function() {
                const name = this.classList.contains('subject') ? 'subject' : this.classList.contains('grade') ? 'grade' : 'level';
                const value = name === 'grade' ? this.textContent.trim().slice(6,7) : this.textContent.trim();
                this.classList.toggle('outline');
                setFilter(name, value, !this.classList.contains('outline'));
            });
        });
    });

    document.getElementById('mobileFilterSubmit').addEventListener('click', function() {
        document.getElementById('filterDetails').removeAttribute("open");
    });
</script>